.title{
    text-align: center;
    color: #0a0a23;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 70px 0 30px;

}
.title h2{
    font-size: 32px;
    color: coral;
    margin-top: 5px;
    text-transform: none;
}